{
    "extends": [
        "airbnb",
        "react-app",
        "plugin:prettier/recommended",
        "prettier",
        "prettier/react"
    ],
    "plugins": ["prettier"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "react/prop-types": 0,
        "no-underscore-dangle": 0,
        "import/imports-first": ["error", "absolute-first"],
        "import/newline-after-import": "error",
        "import/prefer-default-export": "off",
        "react/jsx-props-no-spreading": "off",
        "no-param-reassign": 0,
        "max-lines-per-function": [
            "error",
            {
                "max": 150
            }
        ]
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    },
    "parser": "babel-eslint",
    "env": {
        "jest": true
    }
}
